/* Add CSS styles here! */
body {
  font-family: sans-serif;
}

main > .container {
  padding: 60px 15px 0;
}

.board { 
  display: grid;
  grid-template: repeat(3, 34px) / repeat(3, 34px);
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}
